{{#extend "layout.html"}}
<!--<div class='home'>
<div class='home-content'>
{{#=item}}
<div class='contact-us'>
{{#=form}}
</div>
</div>
</div>-->
{{extend "layout.html"}}
<div id='home'>
<h2>Nous Contacter</h2>
<h4>Interlink</h4>
<ul>
    <li>Tel: + (222) 45 25 23 56</li>
</ul>

<ul>
    <li>Tel: + (222) 45 25 32 30</li>
</ul>
Vous pouvez également essayer:
<ul>
    <li>E-mail: info@interlink.mr</li>
</ul>
<ul>
    <li>Address: 055 Ilot C Zone Château D’Eau Nouakchott – Mauritanie</li>
</ul>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


