{{theme=s3.theme_base}}<!--represente {{=theme}} default ou safire ... a utiliser si besion -->
<link href="/{{=appname}}/static/themes/{{=theme}}/interlinkdesign/css/bootstrap.min.css" rel="stylesheet" />
<link href="/{{=appname}}/static/themes/{{=theme}}/interlinkdesign/css/bootstrap-theme.css" rel="stylesheet" />
<link href="/{{=appname}}/static/themes/{{=theme}}/interlinkdesign/css/style2.css" rel="stylesheet" />
<link href="/{{=appname}}/static/themes/{{=theme}}/interlinkdesign/css/style-responsive.css" rel="stylesheet" />
<!--<script src="/{{=appname}}/static/scripts/modernizr.js" type="text/javascript"></script>-->
<!--<script src="/{{=appname}}/static/themes/{{=theme}}/interlinkdesign/js/jquery.js" type="text/javascript"></script>-->
<script src="/{{=appname}}/static/themes/{{=theme}}/interlinkdesign/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/{{=appname}}/static/themes/{{=theme}}/interlinkdesign/js/jquery.scrollTo.min.js" type="text/javascript"></script>
<script src="/{{=appname}}/static/themes/{{=theme}}/interlinkdesign/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/{{=appname}}/static/themes/{{=theme}}/interlinkdesign/js/scripts.js" type="text/javascript"></script>