{{extend "layout.html"}}
<div id='home'>
<h2>{{=T("Settings")}}</h2>
{{if settings.has_module("msg"):}}
<h3>{{=T("Messaging")}}:</h3>
<ul>
  <li><a href='{{=URL(c="msg", f="email_channel")}}'>{{=T("Email Channels (Inbound)")}}</a>
  <li><a href='{{=URL(c="msg", f="rss_channel")}}'>{{=T("RSS Channels")}}</a>
  <li><a href='{{=URL(c="msg", f="sms_outbound_gateway")}}'>{{=T("SMS Outbound Gateways")}}</a>
   <ul>
    <li><a href='{{=URL(c="msg", f="sms_modem_channel")}}'>{{=T("SMS Modem Channels")}}</a>
    <li><a href='{{=URL(c="msg", f="sms_smtp_channel")}}'>{{=T("SMS SMTP Channels")}}</a>
    <li><a href='{{=URL(c="msg", f="sms_webapi_channel")}}'>{{=T("SMS WebAPI Channels")}}</a>
    </ul>
  <li><a href='{{=URL(c="msg", f="mcommons_channel")}}'>{{=T("Mobile Commons Channels")}}</a>
  <li><a href='{{=URL(c="msg", f="twilio_channel")}}'>{{=T("Twilio Channels")}}</a>
  <li><a href='{{=URL(c="msg", f="parser")}}'>{{=T("Parsers")}}</a>
  <li><a href='{{=URL(c="msg", f="twitter_channel", args=[1, "update"])}}'>{{=T("Twitter Settings")}}</a>
</ul>
{{#else:}}{{pass}}
<ul>
</ul>
</div>
